<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>
  <div class="task_content">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div class="task_expired_at">
    <%= f.label :expired_at %>
    <%= f.datetime_select :expired_at %>
  </div>
  <div class="task_status">
    <%= f.label :status %>
    <%= f.select :status, Task.statuses.keys %>
  </div>
  <div class="task_priority">
    <%= f.label :priority %>
    <%= f.select :priority, Task.priorities.keys %>
  <%= f.submit button_text, class: 'btn btn-success'  %>
<% end %>
<%= link_to "タスク一覧画面に戻る", tasks_path, class: 'btn btn-primary btn-sm' %>
