<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @task.title %></p>
<p>内容: <%= @task.content %></p>
<p>ステータス: <%= @task.status %></p>
<p>終了期限: <%= @task.expired_at %></p>
<p>優先度: <%= @task.priority %></p>
<p>
  ラベルネーム:
  <% @task.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</p>
<%= link_to '編集', edit_task_path(@task.id), class: 'btn btn-success'%>
<%= link_to "タスク一覧画面に戻る", tasks_path, class: 'btn btn-primary btn-sm' %>
