<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>タスク</th>
      <th>詳細</th>
      <th>優先度</th>
      <th>ステータス</th>
      <th>終了期限</th>
      <th>閲覧</th>
      <th>編集</th>
      <th>削除</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.tasks.each do |task| %>
      <tr class="task_row">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= task.expired_at %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Deliete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
